$main-color:#333333;
$link-color: #ff5543;
$hover-color: #ff6d52;
$border-color:#dcdfe6;
$hr-color:#cacaca;
$paragraph: #999999;

//admin
$main-admin-background:#232323;
$admin-content-background:#333333;
$menu-text: white;
$menu-focus: #3a3a3a;
$menu-background: #e1e1e1;
$menu-border: #3c3c3c;

$nav-color:#FF5256;
